{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if message %}
<div class="alert alert-success">
  {{ message}}
</div>
{% endif %}
{% if reviews %}
{% for review in reviews %}
{% if id == review.brew_id%}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ review.author }}</a>
      <small class="text-muted">{{ review.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ review.comment }}</a></h2>
    <p class="article-content">{{ review.rating }}</p>
  </div>
</article>
{% endif %}
{% endfor %}
{% else %}
<h2>No Reviews</h2>
{% endif %}
{% if user.is_authenticated %}
<div class="content-section">
  <form action="" method="POST">
    {{ form.media }}
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">review Form</legend>
      <div class="div-comment">
        <label for="">Comment</label>
        {{form.comment}}
      </div>
      <div class="div-rating">
        <label for="">Rating</label>
        {{form.rating}}
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endif %}
{% endblock content %}